.name-project {
    color: #2781cd;
    padding-left: 2em;
    font-size: 1.3em;
    font-weight: bold;
    display: inline-block;
}

.page-name {
    font-size: 1em;
    font-weight: bold;
    margin-left: 0.2em;
    color: #0000005a;
}

.small-card-header {
    background-color: rgba(0, 0, 0, 0.617);
    font-size: 1.2em;
    color: #ffffff;
}

.card-title {
    font-weight: bold;
}

.delete-event {
    padding-top: 1em;
}

.delete-event:hover .delete,
.delete-event:hover {
    padding-right: 0.5em;
    color: red;
}
