.project-title {
    color: #2781cd;
    padding-left: 2em;
    font-size: 1.3em;
    font-weight: bold;
    display: inline-block;
}

.name-project {
    color: #2781cd;
    padding-left: 2em;
    font-size: 1.3em;
    font-weight: bold;
    display: inline-block;
}

.name-project:hover {
    text-decoration: none;
    color: #2782cdcb;
}

.page-name {
    font-size: 1em;
    font-weight: bold;
    margin-left: 0.2em;
    color: #0000005a;
}

.send-link {
    font-weight: bold;
    float: right;
    margin-right: 10em;
}

.show-btn {
    font-weight: bold;
    float: right;
    margin-right: 1rem;
}

.showRapports-btn {
    font-weight: bold;
    float: right;
    margin-right: 5em;
}

.blocNote {
    font-size: 1.5em;
}

.rapport-title {
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}

/* edit */

.info-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.info-detail {
    font-size: 1.2rem;
}

.info-description {
    font-size: 1.2rem;
    text-align: justify;
}
